.u-section-1 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-1 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -172px auto 60px 393px;
  padding: 8px 67px 8px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}